<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        #d1 {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-family: fantasy;
            font-size: 5em;
        }
    </style>
</head>

<body>
    <div id="d1">
        <h1>404 not found</h1>
    </div>
</body>

</html>