<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Post</title>
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/blogPost.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <ul class="navbar">
                <li class="leftListItem"><a href="#" target="nav">Subscribe</a></li>
                <li class="centerListItem"><a href="../../index.html" target="nav">Lakshay's Blogs</a></li>
                <li class="rightListItem"><a href="#" target="nav">Search</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="contentGrid">
                <div class="postBar">
                    <h1 class="blogTitle">How to Improve Your Math Skills</h1>
                    <h5 class="metaInfo">- Nov 27, 2021 by Lakshay</h5>
                    <figure class="imgContainer">
                        <img class="main-image" src="../../assets/img/sample.jpg" alt="sampleImage">
                        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
                    </figure>
                    <p class="content-para">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                        and 1.10.33 of "de Finibus Bonorum et Malorum"
                        <b>(The Extremes of Good and Evil)</b>
                        by Cicero,
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
                        section 1.10.32
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                        of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at
                        <u>Hampden-Sydney College in Virginia</u>
                        , looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                        going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                        1.10.32
                        and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                        line in
                        section 1.10.32 Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece
                        of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                        1.10.32
                        and 1.10.33 of
                        <em>"de Finibus Bonorum et Malorum" </em>
                        <b>(The Extremes of Good and Evil)</b>
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                        line in
                        section 1.10.32
                    </p>
                    <h4 class="subheading">Sub-heading...</h6>
                        <p class="content-para">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin
                            words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                            classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                            1.10.32
                            and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                            written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                            line in
                            section 1.10.32
                        </p>
                        <p class="content-para">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin
                            words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                            classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                            1.10.32
                            <br />
                            <u>Here is a quote from Wikipedia:</u>
                        <blockquote class="myblock" cite="https://en.wikipedia.org/wiki/Mathematics">
                            Most of mathematical activity consists of discovering and proving (by pure reasoning)
                            properties of abstract objects. These objects are either abstractions from nature (such as
                            natural numbers or "a line"), or (in modern mathematics) abstract entities that are defined
                            by their basic properties, called axioms. A proof consists of a succession of applications
                            of some deductive rules to already known results, including previous
                        </blockquote>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                        of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                        1.10.32
                        </p>
                </div>
                <div class="extrasBar">
                    <h3 class="otherHeading">Top Stories</h3>
                    <ol>
                        <li class="otherBlogs"><a href="#">The Popularity of E-Bikes Isn’t Slowing Down</a></li>
                        <li class="otherBlogs"><a href="#">An Ode to the World’s Most Average Dinosaurs</a></li>
                    </ol>
                    <div class="author-info">
                        <h3 class="otherHeading">About Author</h3>
                        <div class="author-card">
                            <img class="avatar"
                                src="https://scontent.fdel46-1.fna.fbcdn.net/v/t1.6435-9/169076018_3909063282493957_2753685785041485173_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=1c3tPL5h0bEAX-niwca&_nc_ht=scontent.fdel46-1.fna&oh=f3dd309d702abdaf7655ae02abe90563&oe=61CD8310"
                                alt="Avatar" />
                            <a href="https://www.facebook.com/lakshayk12" class="fa fa-facebook"></a>
                            <a href="https://www.twitter.com/lakshayk12" class="fa fa-twitter"></a>
                        </div>
                        <p class="bio-para">
                            Lakshay is a daily blog writter with his major focus on computer science and technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <span id="clock"></span>
        </footer>
    </div>
    <script type="text/javascript">
        var clockElement = document.getElementById('clock');

        function clock() {
            clockElement.textContent = new Date().toString();
        }

        setInterval(clock, 1000);
    </script>
</body>

</html>