.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
                "hd hd hd"
                "main main main"
                "ft ft ft";
    border: 1px solid black;
    height: calc(100vh - 15px);
    width: calc(100vw - 25px);
}

.box {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    background:white;
}

.header {
    grid-area: hd;
    background-color:gray;
    overflow: hidden;
}

.content {
    grid-area: main;
    /* border: 1px solid brown; */
    padding: 10px;
    overflow:scroll;
}

.contentGrid {
    display: grid;
    grid-template-columns:80% 20%;
    grid-template-rows: 100% 100%;
    /* border: 1px solid red; */
}

.postBar > *{
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid purple; */
    padding: 1px;
    margin: 1px;
    /* align-items: center; */
    justify-content: baseline;
    position: relative;
}

.extrasBar {
    display: block;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    position: relative;
}

.blogTitle {
    font-size: 75px;
}

.metaInfo {
    font-style: italic;
    color: gray;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.main-image {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 80px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.subheading {
    margin: 20px;
}

.content-para {
    margin: 10px;
}

.author-info {
    /* justify-content: center; */
    border: 1px solid black;
    border-radius: 10px;
    /* object-fit: cover; */
    /* width: 100%; */
}

.author-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center; */
    object-fit: cover;
    width: 100%;
}

/* .avatar {
    object-fit: cover;
    width: 100%
} */
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    /* height: 100%; */
}

.otherHeading{
    margin-left: 5%;
    /* border: 1px solid pink; */
}

.bio-para {
    padding: 1%;
    font-style: italic;
}

.otherBlogs {
    width: 100%;
    padding: 1px;
    text-decoration: none;
    /* border: 1px solid pink; */
}

.otherBlogs:hover > * {
    opacity: 0.7;
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}