@import "lowEndDevicesConfig.css";
@import "midEndDevicesConfig.css";
@import "highEndDevicesConfig.css";

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
                "hd hd hd"
                "main main main"
                "ft ft ft";
    border: 1px solid black;
    height: calc(100vh - 15px);
    width: calc(100vw - 25px);
}

.box {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    background:white;
}

.header {
    grid-area: hd;
    background-color:gray;
    overflow: hidden;
}

.content {
    grid-area: main;
    /* border: 1px solid brown; */
    overflow:scroll;
}

.postBox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid purple; */
    padding: 15px;
    margin: 10px;
    /* align-items: center; */
    justify-content: baseline;
    position: relative;
}