.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 45%;
}
  
.cardContainer {
    display: grid;
    /* border: 2px solid red; */
    padding: 2px 16px;
    height: 50%;
    grid-auto-rows: minmax(auto, auto);
}

.cardContainer > * {
    /* border: 1px red solid; */
    margin: 3px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category {
    text-decoration-style: dotted;
    color: blue;
}